

$color-white: #FFFFFF;
$color-black : #000000;
$color-cold-morning: #E7E5E5;
$color-sombre-grey: #54546E;
$color-night-sky : #292936;
$color-black-howl : #1D1D2B;
$color-ufo-green : #2FD06E;
$color-safety-orange : #FF6600;
$color-obsidian-shard : #040416;
$color-carpi : #05C1FF;
$color-endless-possibilities : #E6423B;
$color-palatinate-blue : #3535E1;
$color-american-orange : #FB8B03;
$color-pac-man : #FEE63C;
$color-biel-tan-green : #189F6A;
$color-vampire-fangs : #D41E5D;
$color-lian-hong-lotus-pink : #E96FEB;
$color-illustrious-indigo : #5D35AF;
$color-shining-silver : #C8C8C8;
$color-the-new-black : #FF8500;
$color-bloody-red : #CC1B1B;
$color-lighthouse : #F4F4F4;
$color-fire-hydrant : #FF0E00;
$color-green-elliott : #06C167;
$color-blue-bikini : #00C2E8;
$color-black-feather : #142328;
$color-reptilian-green : #00A082;
$color-goldenrod : #FFCC1B;
$color-total-eclipse : #2F313F;
$color-drunken-dragonfly : #34D186;
$color-blaze-orange: #FA6400;